#딕셔너리



> 딕셔너리 생성

In [1]:
diC={'name':'ayeon','phone':'101','birth':'0115'}

In [2]:
a={1:'hi'} #key값 1에 value는 문자열 'hi'

In [ ]:
a={a:[1,2,3]} #value값에 리스트 넣을 수 있음



> **딕셔너리 쌍 추가**

In [4]:
a={1:'a'}
a[2]='b' #딕셔너리 a에 key값 2와 value값 'b' 추가
a

{1: 'a', 2: 'b'}

In [6]:
a={1:'a'}
a[2]='b' #딕셔너리 a에 key값 '2'와 value값 'b' 추가
a['name']='ayeon' #딕셔너리 a에 key값 'name'와 value값 'ayeon' 추가
a[3]=[1,2,3] #딕셔너리 a에 key값 'b'와 value값 [1,2,3] 추가
a

{1: 'a', 2: 'b', 3: [1, 2, 3], 'name': 'ayeon'}



> **딕셔너리 요소 삭제**

In [7]:
del a[2] #딕셔너리 a에서 key값이 2인 key:value 쌍 삭제
a

{1: 'a', 3: [1, 2, 3], 'name': 'ayeon'}



> **딕셔너리에서 key 사용해 value 얻기**<br>

딕셔너리변수[key] -> key에 해당하는 value 얻음

In [9]:
grade={'pey':10,'cathy':100}
grade['cathy'] #key가 cathy인 딕셔너리의 value값 반환

100

In [10]:
a={1:'a',2:'b'}
a[1]  #key가 1인 딕셔너리의 value값 반환

'a'

In [11]:
dic={'name':'ayeon','phone':'101','birth':'0115'}
dic['name']
dic['phone']
dic['birth']

'0115'



> **딕셔너리 key값 주의 사항**



*   key값은 고유한 값으로 중복 x

In [13]:
a={1:'a',1:'b'} #key값 1이 중복으로 사용됨
a #1:'a' 쌍이 무시됨

{1: 'b'}



*   key값은 변하지 않는 값 -> 리스트 사용 x

In [14]:
a={[1,2]:'hi'}
a

TypeError: ignored



> **딕셔너리 관련 함수**



*   key 리스트 만들기

In [16]:
a={'name':'ayeon','phone':'010','birth':'0115'}
a.keys() #딕셔너리 a의 key만 모아서 dict_keys객체를 반환

dict_keys(['name', 'phone', 'birth'])

In [18]:
for k in a.keys():
  print(k) #dict_keys객체는 리스트 사용과 다름 없지만 리스트 고유의 함수는 사용 불가능

name
phone
birth

In [19]:
list(a.keys()) #dict_keys객체를 리스트로 변환

['name', 'phone', 'birth']



*   value 리스트 만들기

In [20]:
a.values()  #딕셔너리 a의 value만 모아서 dict_values객체 반환

dict_values(['ayeon', '010', '0115'])



*   key, value 쌍 얻기 (item)

In [22]:
a.items() #key와 value를 튜플로 묶은 dict_items 객체 반환

dict_items([('name', 'ayeon'), ('phone', '010'), ('birth', '0115')])



*   key : value 쌍 모두 지우기 (clear)

In [24]:
a.clear()
a #빈 딕셔너리

{}



*   key로 value얻기 (get)

In [26]:
a={'name':'ayeon','phone':'010','birth':'0115'}
a.get('name') #a['name']과 동일

'ayeon'

In [28]:
print(a.get("error")) #없는 key로 value 얻고자 하는 경우 : None 반환

In [29]:
print(a['error']) #error 발생

KeyError: ignored



**get(x, '디폴트값')**<br>

찾으려는 key값이 없는 경우, 미리 정해 둔 디폴트 값을 대신 가져오게 하기

In [30]:
a.get('error','phone')

'phone'



*   해당 key가 딕셔너리 안에 있는지 조사 (in)

In [31]:
'name' in a

True

In [32]:
'email' in a

False