**변수=변수에 저장할 값**

In [ ]:
a=[1,2,3]
id(a) #변수 a가 가르키는 메모리 주소

**리스트 복사**

In [1]:
a=[1,2,3]
b=a #a와 b는 완전히 동일

In [6]:
print(id(a))
print(id(b)) #[1,2,3] 리스트를 참조하는 변수는 a와 b
a is b #a와 b가 가르키는 객체는 동일한가?

140572466015496
140572466015496

True

In [8]:
a[1]=4 #a의 두번째 요소 4로 변경
print(a)
print(b) #b의 두번째 요소도 4로 변경됨 -> a와 b 모두 동일한 리스트를 가리키고 있기 때문

[1, 4, 3]
[1, 4, 3]

**변수의 값을 가져오면서 다른 주소를 가리키도록 만들기**<br>


*   [:] 사용
*   copy 모듈 사용

In [9]:
a=[1,2,3]
b=a[:]
a[1]=4

print(a)
print(b) #a 리스트의 값을 변경하더라도 b 리스트에 영향을 미치지 x

[1, 4, 3]
[1, 2, 3]

In [12]:
from copy import copy
a=[1,2,3]
b=copy(b)

print(a)
print(b)
a is b

[1, 2, 3]
[1, 2, 3]

False

**변수를 만드는 여러가지 방법**

In [13]:
a,b=('Python','life') #튜플 이용해 a와 b에 값 대입

In [14]:
(a,b)='python','life' #튜플은 괄호 생략 가능

In [15]:
[a,b]=['Python','life']

In [16]:
a=b='python'

In [17]:
a=3
b=5
a,b=b,a #a와 b 값 바꾸기
print(a)
print(b)

5
3

In [18]:
a=[1,2,3]
b=[1,2,3]
a is b

False