**for문**

In [2]:
text=['one','two','three']
for i in text:
  print(i)

one
two
three

In [3]:
num=[(1,2),(3,4),(5,6)]
for (first,last) in num:
  print(first+last)

3
7
11

In [5]:
#총 5명의 학생이 시험을 봄. 시험 점수가 60점을 넘으면 합격, 아닌 경우 불합격. 합격 불합격 여부를 출력

lst=[90,42,70,80,40]
num=0
for i in lst:
  num+=1
  if i>60:
    print("%d번째 학생은 %d점으로 합격" %(num,i))
  else:
    print("%d번째 학생은 %d점으로 불합격"%(num,i))

1번째 학생은 90점으로 합격
2번째 학생은 42점으로 불합격
3번째 학생은 70점으로 합격
4번째 학생은 80점으로 합격
5번째 학생은 40점으로 불합격

**continue**

In [6]:
lst=[90,42,70,80,40]
num=0
for i in lst:
  num+=1
  if i<=60:
    continue
  else:
    print("%d번째 학생 %d점으로 합격"%(num,i))

1번째 학생 90점으로 합격
3번째 학생 70점으로 합격
4번째 학생 80점으로 합격

**range**

In [7]:
a=range(10)
print(a) #0 1 2 3 4 5 6 7 8 9

range(0, 10)

In [9]:
b=range(0,11)
print(b) # 0 1 2 3 4 5 6 7 8 9 10

range(0, 11)

In [11]:
add=0
for i in range(1,11):
  add+=i

print(add)

55

In [13]:
lst=[90,42,70,80,40]
for i in range(len(lst)):
  if lst[i]<=60: continue
  print("%d번째 학생 %d점으로 합격입니다." %(i+1,lst[i]))

1번째 학생 90점으로 합격입니다.
3번째 학생 70점으로 합격입니다.
4번째 학생 80점으로 합격입니다.

In [15]:
sum=0
for i in range(1,101):
  sum+=i

print(sum)

5050

In [16]:
for i in range(1,10):
  for j in range(1,10):
    print(i*j, end=" ")
  print(" ")

1 2 3 4 5 6 7 8 9
2 4 6 8 10 12 14 16 18
3 6 9 12 15 18 21 24 27
4 8 12 16 20 24 28 32 36
5 10 15 20 25 30 35 40 45
6 12 18 24 30 36 42 48 54
7 14 21 28 35 42 49 56 63
8 16 24 32 40 48 56 64 72
9 18 27 36 45 54 63 72 81

**리스트 내포**

In [17]:
a=[1,2,3,4]
result=[]
for num in a:
  result.append(num*3)

print(result)

[3, 6, 9, 12]



> [표현식 for 항목 in 반복 가능 객체 if 조건]

In [18]:
a=[1,2,3,4]
result=[num*3 for num in a]
print(result)

[3, 6, 9, 12]

In [20]:
a=[1,2,3,4]
result=[num*3 for num in a if num%2==0]
print(result)

[6, 12]



> [표현식 for 항목1 in 반복 가능 객체 if 조건 for 항목2 in 반복 가능 객체 if 조건....
]

In [21]:
result=[x*y for x in range(1,10) for y in range(1,10)]
print(result)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]