#함수의 구조

```
def 함수 이름 (매개변수):
  수행문자1
  ,
  ,
  return 결과값
```



**일반적인 함수** <br>
*  매개변수 : 함수에 입력으로 전달된 값을 받는 변수
*  인수 : 함수를 호출할 때 전달하는 입력값<br><br>Add 함수 : 입력은 2개의 값, 결과값은 2개의 입력값을 더한 값

In [2]:
def Add(a,b): # a,b : 매개변수
  return a+b 


a=3
b=4
c=Add(a,b) # 3,4 : 인수
print(c)

7

**입력값이 없는 함수**

In [3]:
def say():
  return "hi"

a=say()
print(a)

hi

**결과값이 없는 함수**

In [6]:
def add(a,b):
  print("%d와 %d의 합은 %d입니다."%(a,b,a+b))

add(3,4)

a=add(3,4) #반환값이 없음 a=None
print(a)

3와 4의 합은 7입니다.
3와 4의 합은 7입니다.
None

**입력도 결과값도 없는 함수**

In [8]:
def say():
  print("hi")

say()

hi

**매개변수 지정하여 함수 호출**<br>
순서에 상관없이 사용할 수 있음

In [9]:
def add(a,b):
  return a+b

result1=add(a=3,b=4)
print(result1)

result2=add(b=3,a=4) #순서 상관없음
print(result2)

7
7

**여러 개의 입력값을 받는 함수**

In [18]:
def add_many(*arg):
  result=0
  for i in arg:
    result+=i
  return result

a=add_many(1,2,3,4,5)
print(a)

b=add_many(1,2,3)
print(b)

15
6

In [24]:
def cal(choice,*args):
  if choice=="add":
    result=0
    for i in args:
      result+=i
  elif choice=="mul":
    result=1
    for i in args:
      result*=i
  return result


result1=cal("add",1,2,3)
print(result1)
result2=cal("mul",1,2,3,4)
print(result2)

6
24

**키워드 파라미터**<br> : 매개변수 앞에 **붙이면 해당 매개변수는 딕셔너리가 되고 key=value 형태의 결과값이 딕셔너리에 저장됨

In [25]:
def print_kwargs(**kwargs):
  print(kwargs)

print_kwargs(a=1,name='foo')

{'a': 1, 'name': 'foo'}

**반환값은 오직 하나**

In [27]:
def add_and_mul(a,b):
  return a+b,a*b

result=add_and_mul(3,4)
print(result)

result1,result2=add_and_mul(3,4)
print(result1,result2)

(7, 12)
7 12

In [28]:
def add_and_mul(a,b):
  return a+b
  return a*b

result=add_and_mul(3,4)
print(result) #return a+b만 실행됨

#return문 만나는 순간 결과값을 돌려준 다음 함수를 빠져나감

7

**return 이용해 함수 바로 빠져나오기**

In [29]:
def say_nick(nick):
  if nick=='바보':
    return
  print("나의 별명은 %s입니다."%nick)

say_nick("Zn")
say_nick("바보")

나의 별명은 Zn입니다.

**매개변수에 초기값 미리 설정**<br>
따로 인수로 입력되면 그걸 더 우선함

In [30]:
def say_myself(name,old,man=True):
  print("이름: %s"%(name))
  print("나이: %d"%(old))
  if man:
    print("남자")
  else:
    print("여자")

In [31]:
say_myself("아연",20)
say_myself("아연",20,True) #인수가 여러 개인 경우, 매개변수 순서에 맞춰서 전달
say_myself("아연",20,False)

이름: 아연
나이: 20
남자
이름: 아연
나이: 20
남자
이름: 아연
나이: 20
여자

**함수 안에서 선언한 변수의 효력 범위**<br>


 함수 안에서 선언하면 해당 함수 안에서만 효력 가짐

*   return 사용
*  global 명령어 사용

In [35]:
a=1
def vartest(a):
  a+=1


vartest(a)
print(a)

1

In [34]:
a=1
def vartest(a):
  a+=1
  return a

a=vartest(a)
print(a)

2

In [36]:
a=1
def vartest():
  global a
  a+=1

vartest()
print(a)

2

**lambda 매개변수 : 매개변수 사용 표현식**

In [37]:
add=lambda a,b:a+b
result=add(3,4)
print(result)

7